<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Выставки Санкт-Петербурга</title>
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/css/main_css.css">
</head>
<body>
    <a class="back" href="main_file">назад</a>
    <h1 class="centered">Выставки на тему "Искусство"</h1>
    <div class="main">
        <div class="exh">
            <img src="static/img/a1.jpg">
            <ul >
                <li class="description"> Достоевский. Жизнь и творчество: Pro et contra </li>
                <li class="description"> Адрес: Музей Достоевского, Кузнечный пер., 5/2 </li>
                <li class="description"> Новая литературная экспозиция к 200-летию со дня рождения писателя и к 50-летию музея </li>
                <li class="description"> Дата: постоянная экспозиция</li>
            </ul>
        </div>

        <div class="exh">
            <img src="static/img/a2.jpeg">
            <ul >
                <li class="description"> Termin Works </li>
                <li class="description"> Адрес: Пространство Lumion, Кожевенная линия, 30 </li>
                <li class="description"> Мультимедийная выставка Termin Works дизайн-команды Terminal Design в честь 15-летия компании </li>
                <li class="description"> Дата: 24 апреля </li>
            </ul>
        </div>

        <div class="exh">
            <img src="static/img/a3.jpg">
            <ul >
                <li class="description"> Просто потому </li>
                <li class="description"> Адрес: Мастерская Аникушина, Вяземский пер., 8</li>
                <li class="description"> Выставка, посвященная разнообразным мирам, которые придумывают скульпторы. В этом художники сродни детям: и те и те умеют делать что-то не потому, что это полезно или правильно, а просто так, играючи – просто потому, что захотелось, просто потому, что это весело. </li>
                <li class="description"> Дата: до 17 ноября</li>
            </ul>
        </div>
    </div>
</body>
</html>