<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Выставки Санкт-Петербурга</title>
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/css/main_css.css">
</head>
<body>
    <a class="back" href="main_file">назад</a>
    <h1 class="centered">Выставки на тему "Исторические"</h1>
    <div class="main">
        <div class="exh">
            <img src="static/img/h1.jpg">
            <ul >
                <li class="description"> Арктика — земля обитаемая </li>
                <li class="description"> Адрес: Российский этнографический музей, Инженерная, 4/1 </li>
                <li class="description"> Быт поморов — обитателей берегов Белого и Баренцева морей, атрибуты чукотских оленеводов и каяки алеутов — все это можно увидеть в Этнографическом музее. </li>
                <li class="description"> Дата: постоянная экспозиция</li>
            </ul>
        </div>

        <div class="exh">
            <img src="static/img/h2.jpg">
            <ul >
                <li class="description"> Петропавловский Собор и Великокняжеская усыпальница — некрополь </li>
                <li class="description"> Адрес: Музей истории Санкт-Петербурга, Петропавловская крепость </li>
                <li class="description"> Название говорит само за себя </li>
                <li class="description"> Дата: постоянная экспозиция </li>
            </ul>
        </div>

        <div class="exh">
            <img src="static/img/h3.jpg">
            <ul >
                <li class="description"> Оружейные диковины </li>
                <li class="description"> Адрес: Военно-исторический музей артиллерии, инженерных войск и войск связи, Александровский парк, 7</li>
                <li class="description"> На выставке будут показаны уникальные образцы отечественного и зарубежного оружия . </li>
                <li class="description"> Дата: до 31 мая </li>
            </ul>
        </div>
    </div>
</body>
</html>