<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Выставки Санкт-Петербурга</title>
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/css/main_css.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=50b567be-5971-4a08-becf-d7c69fcb7625&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
        }
    </script>
</head>
<body>
    <h1 class="centered">Выставки Санкт-Петербурга</h1>
    <div>
        <h2 class="listheader">Выберите категорию выставок:</h2>
        <ul>
            <li> <a href="painting" title="Живопись"> Живопись </a></li>
            <li> <a href="historic" title="Исторические"> Исторические </a></li>
            <li> <a href="science" title="Естественно-научные"> Естественно-научные </a></li>
            <li> <a href="art" title="Искусство"> Искусство </a></li>
        </ul>
    </div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" title="не нажимай..."><img class="spb" src="static/img/spb.jpg" alt="Санкт-Петербург — столица мира"></a>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>
</html>
