<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Выставки Санкт-Петербурга</title>
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <link rel="stylesheet" href="static/css/main_css.css">
</head>
<body>
    <a class="back" href="main_file">назад</a>
    <h1 class="centered">Выставки на тему "Живопись"</h1>
    <div class="main">
        <div class="exh">
            <img src="static/img/p1.jpg">
            <ul >
                <li class="description"> Новые загадки картин Леонардо да Винчи </li>
                <li class="description"> Адрес: Эрмитаж, Дворцовая наб., 34 </li>
                <li class="description"> На выставке будут экспонироваться две картины, связанные с именем Леонардо да Винчи и его учениками: «Мадонна в скалах» и «Битва при Ангиари» — из собрания Музея христианской культуры в Санкт-Петербурге и картина «Ангел» из собрания Государственного Эрмитажа. </li>
                <li class="description"> Дата: до 19 мая </li>
            </ul>
        </div>

        <div class="exh">
            <img src="static/img/p2.jpg">
            <ul >
                <li class="description"> Рисунки и акварели передвижников </li>
                <li class="description"> Адрес: Михайловский замок, Садовая, 2 </li>
                <li class="description"> В залах выставки можно увидеть графические произведения, созданные как патриархами Товарищества передвижных художественных выставок (1870–1923), так и художниками младшего поколения. </li>
                <li class="description"> Дата: до 8 июля</li>
            </ul>
        </div>

        <div class="exh">
            <img src="static/img/p3.jpg">
            <ul >
                <li class="description"> Анри де Тулуз-Лотрек. Paris, Paris… </li>
                <li class="description"> Адрес: Особняк Брусницыных, Кожевенная линия, 27</li>
                <li class="description"> Выставка литографий из частных коллекций </li>
                <li class="description"> Дата: до 16 июня</li>
            </ul>
        </div>
    </div>
</body>
</html>